p, a {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
  font-size: 25px;
}

